body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Onest', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}


/* Custom scrollbar for sidebar */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #00c853 #0f0f0f; /* thumb, track (solid colors for Firefox only) */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
.sidebar-scroll::-webkit-scrollbar {
  width: 8px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #0f0f0f;
  border-radius: 10px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #00c853, #00796b);
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 200, 83, 0.4);
  transition: background 0.3s ease;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #00e676, #009688);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}
